﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="styles/styles.min.css" rel="stylesheet" />
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="libs/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="wineComponents.js"></script>
    <base href="/" />
    <title>Vin App</title>
</head>
<body ng-app="wineApp">
    <header>
        <h1>
            Vin app
        </h1>
    </header>

    <section ng-controller="winecellarController as cellar">
        <ul>
            <li ng-repeat="product in cellar.products | orderBy: 'name'">

                <wine-title></wine-title>
                <wine-panels></wine-panels>

            </li>
        </ul>

    </section>
    <footer>
        <a href ng-show="!panels.isSelected(1)" ng-click="panels.selectTab(1)">
            <div>
                <p>Add Wine</p>
                <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
            </div>
        </a>
        <wine-form></wine-form>
    </footer>
</body>
</html>
