﻿<ul class="nav">
    <li class="nav__list" ng-class="{ tabactive:panels.isSelected(1) }"><a href class="nav__list__link" ng-click="panels.selectTab(1)">Description</a></li>
    <li class="nav__list" ng-class="{ tabactive:panels.isSelected(2) }"><a href class="nav__list__link" ng-click="panels.selectTab(2)">Details</a></li>
    <li class="nav__list" ng-class="{ tabactive:panels.isSelected(3) }"><a href class="nav__list__link" ng-click="panels.selectTab(3)">Reviews</a></li>

</ul>
<div ng-show="panels.isSelected(1)">
    <wine-description></wine-description>
</div>
<div ng-show="panels.isSelected(2)">
    <wine-spec></wine-spec>
</div>
<div ng-show="panels.isSelected(3)">
    <wine-reviews></wine-reviews>
</div>