﻿
<!--***************************Kode fra codeschool***************************-->
<h4>Reviews</h4>
<blockquote ng-repeat="review in product.reviews">
    <b>Stars: {{review.stars}}</b>
    <p>{{review.body}}</p>
    <cite>by:  {{review.author}}</cite>
    <br />
    <cite>date: {{review.createdOn | date}}</cite>
</blockquote>
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
    <br />
    <div>
        <b>Stars: {{reviewCtrl.review.stars}}</b>
        <p>{{reviewCtrl.review.body}}</p>
        <cite>by:  {{reviewCtrl.review.author}}</cite>

    </div>
    <ul>
        <li>
            <select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
                <option value="">Rate the Product</option>
            </select>
        </li>
        <li>
            <label>Review: </label>
            <br />
            <textarea ng-model="reviewCtrl.review.body" name="txt" cols="30" rows="5"  placeholder="Write a short review of the product..." title="Review" required></textarea>
        </li>
        <li>
            <label>By: </label>
            <br />
            <input name="author" ng-model="reviewCtrl.review.author" type="email" title="Email" placeholder="Email" required />
        </li>
        <li>
            <input type="submit" name="submit" value="Submit" />
        </li>
    </ul>

</form>
<!--***************************Kode fra codeschool***************************-->
