﻿html, * {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto"; }

header {
  width: 100%;
  background-color: lightgreen;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px; }

blockquote {
  border-left: 5px solid lightgrey;
  padding-left: 10px;
  margin-top: 10px; }

section {
  width: 50%;
  margin: 0 auto 150px; }
  section input, section select, section textarea {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgrey;
    width: 300px;
    margin: 5px; }
  section select {
    width: 310px; }
  section ul {
    list-style-type: none; }
  section .wineimg {
    width: 100px;
    margin: 0 auto; }
    section .wineimg img {
      height: 300px;
      width: 100px; }
  section .nav .nav__list {
    padding: 10px;
    display: inline-block; }
  section table tr td {
    min-width: 100px; }

footer {
  min-height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  color: white;
  bottom: 0; }
  footer a {
    text-decoration: none;
    color: white; }
  footer table {
    margin: 0 auto; }
  footer div {
    padding: 20px;
    text-align: center;
    margin: 0 auto; }
    footer div textarea {
      height: 100px; }
  footer i, footer p {
    display: inline-block; }
  footer input, footer select, footer textarea {
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 300px;
    margin: 5px; }
  footer select {
    width: 310px; }

.tabactive {
  background-color: tomato; }

@media screen and (max-width: 480px) {
  section {
    width: 85%; } }

